body {
	margin:100px 0px; padding:0px;
	text-align:center;
	background-color:#EEEEEE;
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	}
	
#container {
	width:740px;
	height:200px;
	margin:0px auto;
	text-align:center;
	border: 1px solid #CCCCCC;
	font-size: 12px;
	background-color:#FFFFFF;
	padding:5px;
	}
	
	
		#mini_header{
		text-align:left;
		height:40px;
		width:100%;
		background-color:#333333;
		margin:0 0 30px 0;
		}
		
		
			#mini_header h1{
			font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
			padding:10px 0 0 15px;
			margin:0 0 0 0;
			font-size:18px;
			font-weight:normal;
			color:#EEEEEE;
			}
	
	
	form {
	    margin: 0;
	    padding: 0;
	}
	
	.login_form{
		margin-top: 1em;
	}
	
	.register_form{
		margin-top: 1em;
	}
	
	.form_row{
		float: left;
		padding: 4px 0;
		width: 100%;
	}
	
	.form_row label{
		color: #333333;
		float: left;
		font-size: 1em;
		line-height: 2em;
		padding-right: 0.5em;
		text-align: right;
		width: 9em;
		font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	}
	
	.submit_row{
		float: left;
		width: 100%;
		padding: 10px 0 0 0;
		margin:0 0 0 0;	
	}

	.error_row{
		float: left;
		width: 100%;
		padding: 10px 0 0 0;
		margin:0 0 0 0;	
	}

	.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}