body {
	margin:0px 0px; padding:0px;
	text-align:center;
	background-color:#EEEEEE;
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	}
	
.tooltip {
	display:none;
	background:transparent url(../images/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}

#admin_header{
	height:40px;
	width:100%;
	background-color:#333333;
	border-bottom: 1px solid #CCCCCC;
	}
	
		#admin_header h1{
		font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
		padding:7px 0 0 0px;
		margin:0 0 0 0;
		font-size:18px;
		font-weight:normal;
		color:#EEEEEE;
		}
#container {
	width:960px;
	margin:0px auto;
	text-align:left;
	background-color:transparent;
	}
	
#head {
	width: 100%;
	height: 100%;

	}
	
	#head a{
		text-decoration:none;
		font-size:13px;
	}
	
	#head p{
		padding:0 0 0 0;
		margin:50px 0 15px 0;
		font-size:15.5px;
		}
		
		#head .notice{
			font-size:15.5px;
		}
		
			#left{
				padding:20px 0 0 0;
				width:550px;
				height:100%;
				float:left;
			}


			
			#right{
				padding:20px 0 0 0;
				margin:0 30px 0 0;
				width:210px;
				height:100%;
				float:right;
			}		

	
#main_content {
	text-align:left;
	width: 100%;
	height: 100%;
	padding:100px 0 0 0;
	}

	#main_content ul {
		list-style-type: none;
		margin:0 0 20px 0px;
		padding:0px;
		float:left;
	}

		#main_content li {
			display: inline;
		}

		#main_content ul a{
			float:left;
			text-decoration: none;
			margin:0 20px 0px 0;
			border:2px solid #EEEEEE;
			}

		#main_content ul a:hover{
			float:left;
			text-decoration: none;
			margin:0 20px 0 0;
			border:2px solid #CCCCCC;
			}

	#main_content p{
	text-align:left;
	width: 740px;
	font-size:16px;
	font-weight:normal;
	color:#270000;
	padding:10px 0 0 5px;
	}


	a.black_btn:link {
			padding: 10px 15px 10px 15px;
			border:1px solid #CCCCCC;
			background-color:#333333;
			color:#EEEEEE;
			font-size: 15.5px;
	}

	a.black_btn:link {
			padding: 10px 15px 10px 15px;
			border:1px solid #CCCCCC;
			background-color:#333333;
			color:#EEEEEE;
			font-size: 15.5px;
	}

	a.black_btn:visited {
			padding: 10px 15px 10px 15px;
			border:1px solid #CCCCCC;
			background-color:#333333;
			color:#EEEEEE;
			font-size: 15.5px;
	}

	a.black_btn:hover {
			padding: 10px 15px 10px 15px;
			border:1px solid #CCCCCC;
			background-color:grey;
			color:#EEEEEE;
			font-size: 15.5px;
	}

	a.readme:link {
			padding: 10px 15px 10px 15px;
			border:1px solid #CCCCCC;
			background-color:;
			color:#333333;
			font-size: 15.5px;
	}

/*
		#main_content ul a{
			float:left;
			padding: 10px 15px 10px 15px;
			background-color: #FffFFF;
			border: 1px solid #CCCCCC;
			text-decoration: none;
			margin:0 30px 0 0;
			color:#333333;
			}
*/

	.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}